*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
app/libs/
app/src/main/java/com/xgn/opencvdemo/cameracalibration/
app/src/main/java/org/
app/src/main/res/layout/camera_calibration_surface_view.xml
app/src/main/res/menu/
openCVLibrary330/build/generated/assets/
openCVLibrary330/build/generated/res/
openCVLibrary330/build/generated/source/aidl/androidTest/
openCVLibrary330/build/generated/source/apt/
openCVLibrary330/build/generated/source/rs/
openCVLibrary330/build/intermediates/bundles/debug/aidl/
openCVLibrary330/build/intermediates/bundles/debug/assets/
openCVLibrary330/build/intermediates/bundles/default/aidl/
openCVLibrary330/build/intermediates/bundles/default/assets/
openCVLibrary330/build/intermediates/bundles/default/jni/
openCVLibrary330/build/intermediates/bundles/default/libs/
openCVLibrary330/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
openCVLibrary330/build/intermediates/incremental/packageDebugAndroidTest/
openCVLibrary330/build/intermediates/incremental/processDebugAndroidTestResources/
openCVLibrary330/build/intermediates/incremental/processDebugResources/
openCVLibrary330/build/intermediates/incremental/processReleaseResources/
openCVLibrary330/build/intermediates/jniLibs/
openCVLibrary330/build/intermediates/lint/
openCVLibrary330/build/intermediates/manifest/tmp/
openCVLibrary330/build/intermediates/rs/
openCVLibrary330/build/intermediates/shaders/
openCVLibrary330/build/intermediates/transforms/
openCVLibrary330/build/tmp/
openCVLibrary330/src/main/resources/
openCVSample15puzzle/build/generated/res/
openCVSample15puzzle/build/generated/source/aidl/
openCVSample15puzzle/build/generated/source/r/androidTest/
openCVSample15puzzle/build/generated/source/rs/
openCVSample15puzzle/build/intermediates/blame/res/androidTest/
openCVSample15puzzle/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
openCVSample15puzzle/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
openCVSample15puzzle/build/intermediates/incremental/mergeDebugResources/aapt-temp/
openCVSample15puzzle/build/intermediates/incremental/processDebugAndroidTestResources/
openCVSample15puzzle/build/intermediates/incremental/processDebugResources/
openCVSample15puzzle/build/intermediates/manifest/tmp/
openCVSample15puzzle/build/intermediates/manifests/instant-run/
openCVSample15puzzle/build/intermediates/res/merged/androidTest/
openCVSample15puzzle/build/intermediates/rs/
openCVSample15puzzle/build/intermediates/symbols/androidTest/
openCVSamplecameracalibration/
app/src/main/native/
